{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        {% for user in users %}
            <li>
                <a href="{{ path('edit_user', {'id': user.id}) }}">{{ user }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}